{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    { bel_scan, { git
                , "https://github.com/bel-framework/bel-scan"
                , {branch, "main"}} }
]}.

{dialyzer, [
    {plt_extra_apps, [bel_scan]}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE.md', #{title => <<"License">>}}
    ]},
    {main, <<"README.md">>},
    {homepage_url, <<"https://github.com/bel-framework/bel-html">>},
    {source_url, <<"https://github.com/bel-framework/bel-html">>},
    {api_reference, false}
]}.
